@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

*{
  font-family: 'Inter', sans-serif;
}

h1{
  font-size: x-large;
  font-weight: 700;
}
h2{
  font-size: large;
  font-weight: 700;
}
.bg {
  background-image: url('./assets/currency.jpg');
  background-position: top;
  background-repeat: no-repeat;
  background-size: contain;
  width: 100%;
}
.text-primary {
  @apply text-[#19269b]
}
.bg-primary{
  @apply bg-[#FFCF00]
}
.nav-active{
  color: white;
}